.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background-color: #1f2937;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 5vh;
  width: auto;
}

.navbar-links #navigation_link {
  margin-left: 3vw;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-links #navigation_link:hover {
  color: #60a5fa;
}