.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 97vh;
}
.top-section {
    grid-row: 1;
}

.middle-section {
    grid-row: 2;
}

.bottom-section {
    grid-row: 3;
}

.error-message{
    width: 16.8vw;
    height: 12vh;
    margin: 0;
}