.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-top: 10vh;
}

.spinner {
  border: 0.5em solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}