.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
.top-section {
    grid-row: 1;
}

.middle-section {
    grid-row: 2;
}

.bottom-section {
    grid-row: 3;
}